<article class="article">
    <a href="" class="back"><i class="gg-chevron-left-o"></i></a>
    <h1 class="article-title"><%- page.title %> </h1>
    <section class="article-info">
        <div class="date"><%- moment(page.date).format('llll') %></div>
        <%- partial('_partial/tip.ejs', {post: page, open_sticky: true}) %>
    </section>
    <hr>
    <section class="article-main"><%- page.content %></section>
</article>
<script>
    document.querySelector('.article>.back').setAttribute('href', document.referrer)
</script>
