<footer class="footer">
    <div class="copyright">
        <span>© <%= moment().format('YYYY') %> - <%- link_to(`${theme.footer_author_link}`, `${config.author}`, {external:true}) %> | Powered by <%- link_to('https://hexo.io', 'Hexo', {external: true}) %> & Theme <%- link_to('https://github.com/Qyir/hexo-theme-Lyusha/', 'Lyusha', {external:true}) %></span>
    </div>
</footer>