<div class="header">
    <div class="site-title">
        <a href="/"><%- config.title %></a>
    </div>
    <ul class="menu-list">
        <li>
            <a class="menu-item<%= !is_current('/archives/') ? ' current' : '' %>" href="/articles/">文章</a>
        </li>
        <li>
            <%
                let years = []
                site.posts.each(post => {
                    if (!years.includes(post.date.year())) years.push(post.date.year())
                })
                const latestYear = Math.max(...years)
            %>
            <a class="menu-item<%= is_archive() ? ' current' : '' %>" href="/archives/<%= latestYear %>">归档</a>
        </li>
    </ul>
</div>