<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- page.title || config.title || 'Lyusha Theme' %> </title>
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href='https://css.gg/chevron-left-o.css' rel='stylesheet'>
    <% if (is_archive()) { %>
        <link href='https://css.gg/shape-circle.css' rel='stylesheet'>
    <% } %>
    <%- css('css/style') %>
    <%- js('js/script') %>
    <%- js('js/tocbot.min') %>
</head>