<div class="tip">
    <% if (post.sticky && open_sticky) { %>
    <span class="tip-item sticky">置顶</span>
    <% } %> <% if (theme.post_latest) { %> <% let yes = moment().subtract(1,
    'd') let isLatest = yes.isBefore(moment(post.date)) %> <% if (isLatest) { %>
    <span class="tip-item latest">最新</span>
    <% } %> <% } %> <% if (post.original) { %>
    <span class="tip-item original">原创</span>
    <% } %> <% if (post.reproduce) { %>
    <a class="tip-item reproduce" href="<%- post.reproduce %>">转载</a>
    <% } %>
</div>
