.category-contetn
    { $content }
    @import './list'
    .current
        { $cat-tag-current }
    .cat-list
        display flex
        flex-wrap wrap
        justify-content space-between
        @media (max-width: 500px)
            justify-content center
        .cat-item
            display block
            box-sizing border-box
            width ((@max-width - 36) / 2)
            padding 1.2rem 1.5rem
            border-radius $br-xl
            background $seccolor-80
            box-shadow $shadow-s
            margin-bottom 2rem
            transition all $td-slow ease-out
            &:hover
                transform translate(0, -4px)
                box-shadow $shadow-m
            .cat-name
                display flex
                justify-content space-between
                align-items center
                margin-bottom 1.5rem
                .name-link
                    font-size $fs-m
                    &:link
                    &:visited
                        color $maincolor-80
                    &:hover
                    &:active
                        color $maincolor-100
                .posts-count
                    display block
                    font-size $fs-tiny
                    width 1.25rem
                    height @width
                    line-height @height
                    border-radius $br-s
                    color $grey
                    background $lightgrey
                    text-align center
            .cat-posts
                padding-left 1rem
                padding-right .5rem
                .post
                    font-size $fs-xs
                    margin-top 1rem
                    a
                        word-break break-all
                        &:link
                        &:visited
                            color $grey
                        &:hover
                        &:active
                            color $black