.footer
    width 100%
    height 6rem
    line-height @height
    padding-top 2em
    position absolute
    bottom 0
    text-align center
    .copyright
        font-size $fs-xs
        color $grey
        a
            &:link
            &:visited
                color $maincolor-80
            &:hover
            &:active
                color $maincolor-100
