.tag-contetn
    { $content }
    @import './list'
    .current
        { $cat-tag-current }
    .tagcloud
        display flex
        flex-wrap wrap
        justify-content center
        width (@max-width - 100px)
        @media (max-width: 500px)
            width 370px
        margin auto
        a
            display inline-block
            padding .75rem 1rem
            border-radius $br-m
            background $seccolor-80
            box-shadow $shadow-s
            margin .5rem
            transition all $td-slow ease-out
            &:hover
                transform translate(0, -4px)
                box-shadow $shadow-xl