// 顶栏高度
$header-top-h = 50px

// default - Lyusha
// light
$maincolor-120 = #FF4E64
$maincolor-100 = #FF7687
$maincolor-80 = #FF96A3
$seccolor-120 = #DCDCDC
$seccolor-100 = #F5F5F5
$seccolor-80 = #FAFAFA
$lightgrey = #EBEBEB
$white = #FFFFFF
$black = #333333
$grey = #999CA0

// font-family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400&display=swap')

@font-face
    font-family 'fira'
    src: url('../fonts/Fira/FiraCode-VF.woff') format('woff'),
            url('../fonts/Fira/FiraCode-VF.ttf') format('truetype')

$font-family = "PingFang SC", "Noto Sans SC", "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif
$font-code = 'fira', 'Monaco', 'Menlo', 'Consolas', monospace


// text: font-size
$fs-tiny = 12px
$fs-xs = 14px
$fs-default = 16px // default color is black, secondary text color is grey
$fs-s = 18px
$fs-sm = 20px
$fs-m = 24px
$fs-lm = 32px
$fs-l = 48px
$fs-xl = 56px
$fs-h = 64px
$fs-xh = 72px

// spacing: line-height
$lh-xs = 4px
$lh-s = 8px
$lh-default = 16px
$lh-m = 24px
$lh-l = 32px
$lh-xl = 40px

// border-radius
$br-s = 0.25rem
$br-m = 0.5rem
$br-l = 0.75rem
$br-xl = 1rem
$br-circle = 9999px

// transition-duration
$td-slow = .4s
$td-default = .2s

// breakpoint
$breakpoint-s = 500px
$breakpoint-m = 800px
$breakpoint-l = 1080px
$breakpoint-xl = 1200px

// box-shadow
// light
$shadow-s = 0px 6px 6px -6px rgba(0, 0, 0, 0.16)
$shadow-m = 0px 12px 12px -6px rgba(0, 0, 0, 0.16)
$shadow-l = 0px 8px 24px -6px rgba(0, 0, 0, 0.16)
$shadow-xl = 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2)

$content =
    margin auto
    max-width 700px
    @media (max-width: 800px)
        max-width 650px
    @media (max-width: 500px)
        max-width 370px
$cat-tag-current =
    font-size $fs-lm
    text-align center
    margin-top 0
    margin-bottom 2.5rem